.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url("/bg.jpg") no-repeat center center;
  background-size: cover;
}

.login-card {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}